// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
}

// section 1: responsive icons

.interface-1 {
  font-family: 'IBM Plex Sans', sans-serif;
  
  h1{
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3em;
    
    align-items: flex-start;
    letter-spacing: 0.07em;
    margin: 1em 4em;

    .grid-item {
      padding: 1em 2em;
    }

    img {
      align-self: center;
    }

    h2 {
      font-size: 1,5em;
      color: darkseagreen;
    }

    p {
      font-size: 0.9em;
      color: dimgray;
      strong{
        font-size: 1.1em;
      }
    }
  }
}

// Section Real-time report

.interface-2 {
  font-family: 'Roboto', sans-serif;
  margin: 4em;
  h1 {
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }
  .report-container {
    color: #fff;
    background-color: #468ef1;
    width: 320px;
    border-radius: 2px;
    border: 7px solid rgba(242, 242, 242, 0.9);
    padding: 1.5em;

    h6 {
      font-size: 0.8em;
    }

    h2 {
      font-size: 3em;
      padding: 0.3em 0 0.3em 0;
    }

    p {
      font-size: 0.7em;
      border-bottom: 0.5px solid #99caff;
      padding-bottom: 5px;
    }

    .diagram {
      height: 130px;
      background-image: url(./assets/graphi.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    table {
      border-bottom: 1px solid #99caff;
      border-collapse: collapse;
      width: 260px;
      th {
        font-size: 0.7em;
        height: 30px;
        vertical-align: center;
        border-bottom: 1px solid #99caff;
        text-align: left;
        ~th {
          text-align: right;
        }
      }
      td {
        font-size: 0.8em;
        height: 35px;
        vertical-align: center;
        border-bottom: 1px solid #99caff;
      }
      tr {
        td {
          text-align: left;
          ~td {
            text-align: right;
          }
        }
      }
    }
    a {
      color: #fff;
      text-transform: uppercase;
      display: flex;
      padding: 10px 10px 0 10px;
      justify-content: flex-end;
      font-size: 0.8em;

      i {
        padding-left: 1em;
      }
    }
  }
}

// section-3: Article card

.interface-3 {
  font-family: 'Hind Siliguri', sans-serif;
  margin: 4em;
  h1 {
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }
  .card-container {
    display: flex;
    height: 300px;
    width: 600px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px grey;
    
    
    .card-side-img {
      width: 200px;
      background-image: url(./assets/img.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .card-side-author {
      width: 400px;
      font-size: 1em;
      padding: 1.5em;

      h3 {
        font-size: 1.5em;
        line-height: 1.2;
        -webkit-text-stroke: black 0.8px;
        word-spacing: 3px;
        padding-bottom: 0.5em;
      }
      p {
        color: dimgray;
        line-height: 1.2;
        word-spacing: 3px;
      }
      .author-holder {
        display: flex;
        flex-direction: row;
        margin-top: 5em;
        

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 0.7em;
        }
        h6 {
          font-size: 0.8em;
          -webkit-text-stroke: black 0.1px;
        }

        p {
          font-size: 0.8em;
        }

        .icons {
          color: dimgray;
          font-size: 1em;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: auto;

          i {
            padding-left: 0.3em;
          }
        }
      }
    }
  }
}


// media query for screen 900 px and less

@media (max-width: 900px) {
  .interface-1 {
    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
    }
  } 
}

// media query for screen 600 px and less

@media (max-width: 600px) {
  .interface-1 {
    .grid-container {
      display: grid;
      grid-template-columns: auto;
    }
  } 
}